@charset "UTF-8";
/* CSS Document */

.sticky {
    position: static;
    opacity: 100%;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    z-index: 1;
    align: top;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    height: 140px;
}
.image {
    display: inline-block;
    margin-left: 45%;
	margin-right; 45%;
    float: left;
    margin-top: 10px;
}
.textlinks {
    margin-left: auto;
    margin-right: auto;
    font-family: turnip, serif;
    font-size: 15pt;
    font-weight: 200;
    font-style: normal;
    text-align: right;
    color: #C26037;
	font-variant: normal;}

.links {
    margin-left: 8px;
    margin-right: auto;
    font-family: turnip, serif;
    font-size: 15pt;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    color: #C26037;
	font-variant: normal;}

a.nav:link {
    color: #C26037;
    text-decoration: none;
}
a.nav:visited {
color: #C26037;
	text-decoration: none;}
a.nav:hover {
color: #924322;
}
a.navalt:link {
    color: #924322;
    text-decoration: none;
}
a.navalt:visited {
color: #924322;
	text-decoration: none;}
a.navalt:hover {
color: #924322;
}
.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.header {
    display: inline-block;
    float: right;
    vertical-align: top;
    margin-right: 6%;
    margin-top: -10px;  
}
.words {
    background-color: #FFFFFF;
    text-align: left;
    font-family: turnip, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15pt;
    color: #924322;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}


.container {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25;
	margin-right: 8px;
	margin-left: 8px;
}

.column img {
  margin-top: 8px;
  vertical-align: center;
  width: 100%;
}

.hover:hover {
-webkit-filter: brightness(0.8);
filter: brightness(0.8);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

 Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
