@charset "UTF-8";
/* CSS Document */

.sticky {
    position: static;
    opacity: 100%;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    z-index: 1;
    align: top;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    height: 140px;
}
.image {
    display: inline-block;
    margin-left: 45%;
	margin-right; 45%;
    float: left;
    margin-top: 10px;
}
.textlinks {
    margin-left: auto;
    margin-right: auto;
    font-family: turnip, serif;
    font-size: 15pt;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    color: #0F1637;
	opacity: 80%;
	font-variant: normal;}

.links {
    margin-left: 8px;
    margin-right: auto;
    font-family: turnip, serif;
    font-size: 15pt;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    color: #0F1637;
	font-variant: normal;}


a.nav:link {
    color: #0F1637;
    text-decoration: none;
}
a.nav:visited {
color: #0F1637;
	text-decoration: none;}
a.nav:hover {
color: #DA3832;
}
a.navalt:link {
    color: #DA3832;
    text-decoration: none;
}
a.navalt:visited {
color: #DA3832;
	text-decoration: none;}
a.navalt:hover {
color: #DA3832;
}
.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.header {
    display: inline-block;
    float: right;
    vertical-align: top;
    margin-right: 6%;
    margin-top: -10px;  
}
.words {
    background-color: #FFFFFF;
    font-family: turnip, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15pt;
	text-align:center;
    color: #0F1637;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}
.headertext{ 
	font-family: turnip, serif;
    font-size: 24pt;
	color: #0F1637;
    font-weight: 400;
    font-style: normal;
	text-align: center;
}
.articlewords{
    background-color: #FFFFFF;
    text-align: left;
    font-family: turnip, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    color: #0F1637;
    line-height: 30px;
}
.quotation{  background-color: #FFFFFF;
    text-align: right;
    font-family: turnip, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    color: #DA3832;}
.quotationwords{
    background-color: #FFFFFF;
    text-align: left;
    font-family: turnip, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    color: #DA3832;
    line-height: 30px;
}
.diagramcaption {
    background-color: #FFFFFF;
    text-align: left;
    font-family: turnip, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15pt;
    color: #0F1637;
    margin-left: 5%;
	margin-right: 40%;
    margin-top: 50px;
}

.imagecontainer{width: auto;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}

.container {
	width: auto;
	margin-left: 25%;
	margin-right: 25%;
margin-top: 5%;}


.row {
    display: flex;
    flex-wrap: wrap;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
	margin-right: 30px;
	margin-left: 30px;
	vertical-align: center;
}

.column img {
  margin-top: 30px;
  margin-right: auto;
	margin-left: auto;
	te-align: center;
  width: 90%;
}

.hover:hover {
-webkit-filter: brightness(0.8);
filter: brightness(0.8);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

 Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
